region         = "us-east-1"
name_prefix    = "roboteasy"
instance_type  = "t3.medium"
ssh_public_key = "ssh-ed25519 AAAA... seu-email"
git_repo_url   = "https://github.com/Xs1d7/teste-roboteasy.git"
git_branch     = "main"
jwt_key        = "troque-este-segredo-jwt-com-32-chars-min"
allowed_cidr   = "0.0.0.0/0"
