project_id     = "SEU_PROJECT_ID"
region         = "us-central1"
zone           = "us-central1-a"
name_prefix    = "roboteasy"
machine_type   = "e2-standard-2"
ssh_user       = "ubuntu"
ssh_public_key = "ssh-ed25519 AAAA... seu-email"
git_repo_url   = "https://github.com/Xs1d7/teste-roboteasy.git"
git_branch     = "main"
jwt_key        = "troque-este-segredo-jwt-com-32-chars-min"
allowed_cidr   = "0.0.0.0/0"
